$white-color: rgb(255, 255, 255);
$athens-gray-color: rgb(241, 241, 242);
$silver-chalice-color: rgb(171, 171, 171);
$icon-input-color: rgba(0, 0, 0, 0.25);
$black-color: rgb(0, 0, 0);
$alabaster-color: rgb(250, 250, 250);
$header-border-color: rgba(0, 0, 0, .0975);
$mercury-color: rgb(230, 230, 230);